<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
{% block body %}
    <h4>Anfragen</h4>

    <table>
        <thead>
            <tr>
                <th>Beschreibung</th>
                <th>Menge</th>
                <th>Bemerkung</th>
                <th>Actions</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Benutzer</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for anfrage in anfrages %}
            <tr>
                <td>{{ anfrage.bestellung }}</td>
                <td>{{ anfrage.menge }}</td>
                <td>{{ anfrage.bemerkung }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('anfrage_edit', { 'id': anfrage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ anfrage.fkUser }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
