<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
{% block body %}
    <h1>Anfrage erstellen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input style="margin: 20px" class="waves-effect waves-light btn" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a style="margin: 20px" class="waves-effect waves-light btn" href="{{ path('anfrage_index') }}">Back to the list</a>
            <a style="margin: 20px" class="waves-effect waves-light btn" href="/../bauvorhaben/web/">Hauptmenü</a>
        </li>
    </ul>

    <div>

    </div>
{% endblock %}
</body>