<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/bauobjekt/web/index.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
{% block body %}
    {{ block('fos_user_content') }}
    <br>
    {% if is_granted('ROLE_USER') %}
        <h2>Sie sind angemeldet als: {{ user }}</h2>
        <a class="waves-effect waves-light btn" href="{{ path('fos_user_security_logout') }}">Logout</a>
        <h4>Meine Projekte</h4>
        <a class="waves-effect waves-light btn" href="">Übersicht meiner Bauobjekt</a>
        <a  class="waves-effect waves-light btn" href="{{ path('anfrage_index') }}">Meine Anfragen</a>
    {% else %}
        <a  class="waves-effect waves-light btn" href="{{ path('fos_user_security_login') }}">Zum internen Bereich</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <h4>Administration</h4>
        <a  class="waves-effect waves-light btn" href="{{ path('fos_user_registration_register') }}">Benutzer anlegen</a>
        <a  class="waves-effect waves-light btn" href="">Übersicht aller Bauobjekt</a>
        <a  class="waves-effect waves-light btn" href="{{ path('anfrageAdmin_index') }}">Übersicht aller Bestellungen</a>
    {% endif %}
{% endblock %}
</body>
</html>

